.forecast {
    flex: 1;
    /* max-width: 25%; */
    overflow-y: hidden;
    height: 100%;
    border-left: var(--light-border);
    padding: 20px;
    position: relative;
}

.week-selector {
    width: 100%;
    min-height: 100px
}

.week-selector :nth-child(even) {
    font-weight: bold;
    font-size: 1.5rem
}

.week-selector :nth-child(odd) {
    cursor: pointer;
}

.forecast-panel {
    height: calc(100% - 300px);
}

.forecast-tile {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    transition: 0.25s linear;
}

.forecast-tile:hover {
    background: rgba(174, 169, 169, 0.25);
}


/* .today {
    height: 200px;
    width: 100%;
    position: relative;
    padding: 10px;
}

.today h5 {
    margin-left: 5%;
}

.today-tiles {
    height: 90%;
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
}

.today-tile {
    width: 200px;
    height: 75%;
    border-radius: 12px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
} */

.forecast-container {
    flex: 1
}

.forecast-container :nth-child(1) {
    font-weight: bold;
    font-size: 1.25rem
}

.forecast-container :nth-child(2) {
    color: rgba(100, 100, 100, 0.5);
}

.forecast-temp {
    flex: 1;
    height: 100%;
    position: relative;
}

.forecast-temp span {
    position: absolute;
    font-weight: bold;
    font-size: 1.25rem;
    width: 75px;
    left: 25%
}

.forecast-icon {
    flex: 1;
    height: 100%
}

