.forecast {
    flex: 1.25;
    /* max-width: 25%; */
    height: 100%;
    border-left: var(--light-border);
    /* padding: 10px */
    position: relative
}

.week-selector {
    width: 100%;
    min-height: 100px
}

.week-selector :nth-child(odd) {
    cursor: pointer;
}

.today {
    height: 200px;
    width: 100%;
    position: relative;
    padding: 10px;
}

.today h5 {
    margin-left: 5%;
}

.today-tiles {
    height: 90%;
    width: 100%;
    overflow-x: scroll;
}

.today-tile {
    width: 100px;
    height: 75%;
    border-radius: 12px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.forecast-panel {
    height: calc(100% - 300px);
}

.forecast-tile {
    width: 100%;
    padding: 10px
}